<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Tabulatorの試作ページ</title>
    <!-- jQueryのCDNを追加 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- TabulatorのCDNを追加 -->
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>
<body>
    <h1>ミリ波 DB構築検討 データ探索用メタデータ案9</h1>
    <button id="fetch-data-btn">データ取得</button>
    <button id="clear-table-btn">データクリア</button>
    <div id="example-table"></div>
    <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>
